# DATABASE 
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=gaple_royale

# SERVER
PORT=3000
NODE_ENV=production

# AUTH 
JWT_SECRET=GANTI_INI_DENGAN_STRING_RANDOM_MINIMAL_32_KARAKTER
JWT_EXPIRES=24h

# CORS
ALLOWED_ORIGINS=*
